<div id="<%= dom_id goal %>">
  <p>
    <strong>Name:</strong>
    <%= goal.name %>
  </p>
  <p>
    <strong>Target amount:</strong>
    <%= goal.target_amount %>
  </p>
  <p>
    <strong>Current amount:</strong>
    <%= goal.current_amount %>
  </p>
  <p>
    <strong>Target date:</strong>
    <%= goal.target_date %>
  </p>
  <p>
    <strong>Saved value:</strong>
    <%= goal.saved_value %>
  </p>
</div>
