<% content_for(:page_title, I18n.t("models.goal")) %>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= I18n.t("goal.messages.message1") %></p>
      <p class="mt-6 text-lg leading-8 text-gray-600"><%= I18n.t("goal.messages.message2") %></p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <% @goals.each do |goal| %>
          <div class="relative pl-16">
            <dt class="text-base font-semibold leading-7 text-gray-900">
              <%= link_to edit_goal_path(goal), class: "absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600" do %>
                <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                </svg>
              <% end %>
              <%= goal.name %>
            </dt>
            <dt class="mt-1 text-base font-semibold leading-7 text-gray-900"><%= I18n.t("goal.fields.target_amount") %>:</dt>
            <dd class="text-base leading-7 text-gray-600"><%= number_to_currency(goal.target_amount) %></dd>
            <dt class="mt-1 text-base font-semibold leading-7 text-gray-900"><%= I18n.t("goal.fields.current_amount") %>:</dt>
            <dd class="text-base leading-7 text-gray-600"><%= number_to_currency(goal.current_amount) %></dd>
            <dt class="mt-1 text-base font-semibold leading-7 text-gray-900"><%= I18n.t("goal.fields.target_date") %>:</dt>
            <dd class="text-base leading-7 text-gray-600"><%= goal.target_date.strftime("%B %d, %Y") %></dd>
            <dt class="mt-1 text-base font-semibold leading-7 text-gray-900"><%= I18n.t("goal.fields.saved_value") %>:</dt>
            <dd class="text-base leading-7 text-gray-600"><%= number_to_currency(goal.saved_value) %></dd>
            <dd class="mt-1 text-sm leading-5 pt-2">
              <%= link_to edit_goal_path(goal), class: "flex items-center text-indigo-500 hover:text-indigo-900" do %>
                <%= I18n.t("goal.actions.details") %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3 ml-1">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
              <% end %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
    <div class="mx-auto mt-8 max-w-2xl lg:mt-12 lg:max-w-4xl lg:text-center">
      <%= link_to I18n.t("goal.actions.new"), new_goal_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
</div>
