<div class="mb-4">
  <details class="border border-gray-300 rounded-md">
    <summary class="cursor-pointer bg-gray-100 px-4 py-2 text-base font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
      <%= I18n.t("views.transaction.actions.show_filters") %>
    </summary>
    <div class="mt-4 px-4 py-2">
      <%= form_with url: transactions_path, method: :get, local: true, class: "space-y-4" do %>
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-left text-sm font-medium text-gray-700"><%= t("attributes.description") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= text_field_tag :description, params[:description], class: "mt-1 block w-full sm:w-1/2 lg:w-1/4 shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="w-full mt-4">
          <thead>
            <tr>
              <th class="text-left text-sm font-medium text-gray-700"><%= t("attributes.transaction_type") %></th>
              <th class="text-left text-sm font-medium text-gray-700">Data Venc. Inicial</th>
              <th class="text-left text-sm font-medium text-gray-700">Data Venc. Final</th>
              <th class="text-left text-sm font-medium text-gray-700">Período</th>
              <th class="text-left text-sm font-medium text-gray-700"><%= t("attributes.account_id") %></th>
              <th class="text-left text-sm font-medium text-gray-700"><%= t("attributes.category_id") %></th>
              <th class="text-left text-sm font-medium text-gray-700"><%= t("attributes.status") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= select_tag :transaction_type, options_for_select(Transaction.transaction_types.keys.map { |type| [t("attributes.transaction_types.#{type}"), type] }, params[:transaction_type]), include_blank: "Selecione...", class: "mt-1 block w-full sm:w-32 shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= date_field_tag :due_date_start, params[:due_date_start] || Time.zone.today.beginning_of_month.strftime("%Y-%m-%d"), class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= date_field_tag :due_date_end, params[:due_date_end] || Time.zone.today.strftime("%Y-%m-%d"), class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= select_tag :predefined_period, options_for_select([
                  ["Selecione...", ""],
                  ["Hoje", "today"],
                  ["Ontem", "yesterday"],
                  ["Esta semana", "this_week"],
                  ["Semana passada", "last_week"],
                  ["Últimos 7 dias", "last_7_days"],
                  ["Mês atual", "current_month"],
                  ["Últimos 30 dias", "last_30_days"],
                  ["Últimos 3 meses", "last_3_months"],
                  ["Últimos 6 meses", "last_6_months"],
                  ["Mês passado", "last_month"],
                  ["Ano atual", "current_year"]
                ]), class: "mt-1 block w-full sm:w-32 shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= select_tag :account_id, options_for_select(Account.where(user_id: current_user.id).pluck(:name, :id), params[:account_id]), include_blank: "Selecione...", class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= select_tag :category_id, options_for_select(Category.pluck(:name, :id), params[:category_id]), include_blank: "Selecione...", class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
              <td>
                <%= select_tag :status, options_for_select(Transaction.statuses.keys.map { |status| [t("attributes.statuses.#{status}"), status] }, params[:status]), include_blank: "Selecione...", class: "mt-1 block w-full sm:w-32 shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="flex justify-start mt-4 space-x-4">
          <%= submit_tag t("views.transaction.actions.filter"), class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          <%= link_to t("views.transaction.actions.clear"), transactions_path, class: "inline-flex items-center justify-center rounded-md border border-gray-300 bg-gray-100 px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </details>
</div>
