<%= form_with(model: transaction, class: "max-w-xl mx-auto p-6 bg-white rounded-lg shadow-lg space-y-6") do |form| %>
  <h1 class="text-2xl font-semibold text-gray-900 mb-4 text-center "><%= form_title %></h1>
  <% if transaction.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-5" role="alert">
      <ul class="mt-2">
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-1 gap-6">
    <div>
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div>
      <%= form.label :amount, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :amount, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div>
      <%= form.label :transaction_type, class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :transaction_type, Transaction.transaction_types.keys.map { |type| [I18n.t("attributes.transaction_types.#{type}"), type] }, { include_blank: "Selecione...", selected: @transaction.transaction_type }, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", disabled: @transaction.transaction_type.present? } %>
      <%= form.hidden_field :transaction_type, value: @transaction.transaction_type %>
    </div>
    <div>
      <%= form.label :due_date, class: "block text-sm font-medium text-gray-700" %>
      <%= form.date_field :due_date, value: Date.current.to_s, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
    </div>
    <div>
      <%= form.label :account_id, class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :account_id, current_user.accounts.map { |account| [account.name, account.id] }, { include_blank: "Selecione..." }, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", selected: @transaction.account_id, disabled: @transaction.account_id.present? } %>
      <%= form.hidden_field :account_id, value: @transaction.account_id %>
    </div>
    <div>
      <%= form.label :category_id, class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :category_id, Category.all.map { |category| [category.name, category.id]}, { include_blank: "Selecione..." }, {class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>
    <div>
      <%= form.label :status, class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :status, Transaction.statuses.keys.map { |status| [I18n.t("attributes.statuses.#{status}"), status] }, { include_blank: "Selecione..." }, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </div>
    <div>
      <%= form.label :voucher, class: "block text-sm font-medium text-gray-700" %>
      <%= form.file_field :voucher, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100" %>
    </div>
  </div>
  <div class="mt-6 flex justify-end">
    <%= form.submit t("actions.save"), class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  </div>
<% end %>
